
body {
    font-family: 'Castoro', serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    height: 300px;
}

#header_left {
    flex: 3;
    padding-left: 10px;
    padding-top: 10px;
}

#header_right {
    padding-left: 10px;
    flex: 1;
}